body {
  background-image: url(../images/forest_bg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}
.navigation {
  letter-spacing: 2px;
}
.main-img {
  width: 300px;
  height: 300px;
}
.navigation {
  list-style: none;
}

a {
  text-decoration: none;
  color: #2e2f2f;
}
.footer-text {
  letter-spacing: 2px;
}
h2 {
  letter-spacing: 2px;
}
.card-footer:hover {
  background-color: rgb(184, 225, 247);
  color: white;
}
@media (max-width: 425px) {
  .app-main-img {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .content p {
    line-height: 20px;
    text-align: center;
  }
  h2 {
    font-size: 1.5em;
  }
}
@media (min-width: 768px) {
  .contact-item{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-control {
    width: 40%;
  }
  .contact-item .btn{
    width: 10%;
  }
}
